.main{
	width: 100%;
	height: 100%;
	 background: #D3D3D3;
}
.header{
	width: 100%;
	height: 79px;
	background: #fff;
	display: flex;
	justify-content: space-around;
	position: fixed;
	z-index: 10; 
	
}
.logo{
	width: 150px;
	height: 50px;
	margin-left: 100px;
	padding-top: 14.5px;
}
.title a{
	font-size: 14px;
	width: 89px;
	height: 79px;
	padding: 0 15px;
	line-height: 79px;
	color: #ddd;
}
.title a:hover{
	color:skyblue;
}
.banner{
	width: 100%;
	height: 855px;
	position: relative;
}
.banner_img img{
	width: 100%px;
	height: 855px;
	position: absolute;
	top: 0;
	left: 0;
}
.banner_yuanhe{
	width: 400px;
	height: 18px;
	bottom: 20px;
	right: 302px;
	left: 400px;
	display: inline block;
	position: absolute;
}
.banner_yuan{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #5F5750;
	border: 2px solid #b0b0b0;
	margin: 5px;
	float: right
}
.banner_yuan:hover{
	background-color: #ff6700;
	cursor: pointer;
}
.container{
	width: 100%;
	height: 628px;
	padding: 60px 0;
	background: #fff;
}
.container_top{
	width: 720px;
	height: 44px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}
.container_top:hover{
	transform:translateX (0 200px);
}
.container_top span{
	font-size: 44px;
	color: #F67A82;
	line-height: 44px;
	flex-basis: 200px;
}
.more{
	width: 55px;
	height: 30px;
	background: #16B0DC;
	margin-top:7px;

}
.more span{
	font-size: 18px;line-height: 30px;
}
.container_mid{
	width: 752px;
	height: 24px;
	margin: 0 auto;
	text-align: center;
	line-height: 24px;
	margin-top: 10px;
}
.container_bottom{
	width: 720px;
	height: 380px;
	margin: 0 auto;
	margin-top: 50px;
	overflow-x: auto;
	display: flex;
	flex-wrap: nowrap;
	position: relative;
	justify-content: space-between;

}
.bottom_nei{
	width: 188px;
	height: 342px;
	float: left;
	display: block;
	margin: 19px 25px 0;
}
.bottom_zuo{
	width: 30px;
	height: 30px;
	background:#ddd;
	position: absolute;
	top: 180px;
	left: 0;
	text-align: center;
	line-height: 30px;
	border-radius: 15px;
}
.bottom_zuo:hover{
	cursor: pointer;
}
.bottom_right:hover{
	cursor: pointer;
}
.bottom_s{
	width: 180px;
	height: 180px;
	border-radius: 50%;
}
.bottom_s img{
	width: 180px;
	height: 180px;
	border-radius: 50%;
	margin: 0 4px;
}
.bottom_z{
	width: 180px;
	height: 120px;
	margin: 2px 4px;
	text-align: center;
}
.bottom_z{
	font-size: 14px;
}
.bottom_right{
	width: 30px;
	height: 30px;
	background: #ddd;
	position: absolute;
	top: 180px;
	right: 0;
	border-radius: 15px;
	text-align: center;
	line-height: 30px;
}
.bottom_x{
	width: 148px;
	height: 32px;
	margin: 0 auto;
	padding: 4px 25px;
	background: #F96868;
}
.bottom_x i{
	font-size: 20px;
	color: #9C2115;	
}
.bottom_x a{
	color: #ddd;
}
.bottom_x span{
	text-align: center;
}
.huayu{
	width: 100%;
	height: 708px;
	background: #F5F5F5;
	padding-top: 30px;
}
.huayu_he{
	width: 1170px;
	height: 600px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.huayu_nei{
	width: 580px;
	height: 120px;
	margin-top: 20px;
	padding: 0 15px;	
}
.huayu_img{
	width: 160px;
	height: 120px;
}
.huayu_img img{
	width: 160px;
	height: 120px;
}
.huayu_zi{
	width: 375px;
	height: 96px;
	float: right;
	margin-top: -108px;
}
.huayu_zi1{
	width: 375px;
	height: 22px;
	margin-bottom: 5px;
}
.huayu_zi1 a{
	color: #d5d5d5;
	font-size: 20px;
}
.huayu_zi2{
	width: 375px;
	height: 42px;
	margin-bottom: 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}
.huayu_zi1 a:hover{
	color: skyblue;
}
.huayu_zi3{
	width: 375px;
	height: 21px;
}
.dibu{
	width: 100%;
	height: 940px;
	background: #fff;
	padding: 60px 0;
}
.dibu_nei{
	width: 720px;
	height: 820px;
	margin: 0 auto;
}
.dibu_top{
	width: 720px;
	height: 44px;
	margin-bottom: 11px;
	display: flex;
}
.dibu_top span{
	font-size: 44px;
	padding-left: 210px;
	line-height: 44px;
}
.dibu_bottom{
	width: 720px;
	height: 736px;
	padding: 30px;
	margin-top: 40px; 
}
.dibu_bottom p{
	width: 660px;
	height: 32px;
	text-align: center;
	margin-bottom: 18px;
}
.bbottom_x{
	width: 660px;
	height: 626px;
}

.bbottom_x p{
	width: 660px;
	height: 40px;
	text-align: center;
	font-size: 16px;

}
.bbottom_x img{
	width: 530px;
	height: 340px;
	margin: 0 auto;
}
.hou{
	width: 100%;
	height: 181px;
}
.hou_top{
	width: 100%;
	height: 57px;
	padding: 5px 0;
	margin: 10px 0;
	text-align: center;
}
.hou_top i{
	font-size: 25px;
	color: #fff;
	line-height: 57px;
	margin-left: 30px;
	color: #62A8EA;
}
.hou_top i:hover{
	cursor: pointer;
}
.tan{
	width: 160px;
	height: 208px;
	background-color: #ff6700;
	position: absolute;
	margin-top: -258px;
	left: 45%;
	transition: all 1s linear;
	display: none;
}
.icon-icon4:hover .tan{
	display: block; 
}
.tan img{
	width: 160px;
	height: 208px;
}
.hou_mid{
	width: 1140px;
	height: 25px;
	margin: 0 auto;
	text-align: center;
}
.hou_mid img{
	width: 20px;
	height: 20px;
	display: inline-block;
	text-align: center;
}
.hou_mid a{
	color: skyblue;
}
.hou_mid a:hover{
	text-decoration: underline;
}