.main{
	width: 100%;
	height: 100%;
	background: #D3D3D3;
	overflow: hidden;
}
.header{
	width: 100%;
	height: 79px;
	background: #fff;
	display: flex;
	justify-content: space-around;
	position: fixed;
	z-index: 10; 
	
}
.logo{
	width: 150px;
	height: 50px;
	margin-left: 100px;
	padding-top: 14.5px;
}
.title a{
	font-size: 14px;
	width: 89px;
	height: 79px;
	padding: 0 15px;
	line-height: 79px;
	color: #ddd;
}
.title a:hover{
	color:skyblue;
}
.mid_top{
	width: 100%;
	height: 120px;
	margin-top: 79px;
}
.mid_top p{
	text-align: center;
	line-height: 120px;
	font-size: 36px;
	color: #F67A82;
}
.suxin{
	width: 100%;
	height: 730px;

}
.suxin_k{
	width: 1169px;
	height: 690px;
	margin: 0 auto;
	 background: #fff;
}
.suxin_left{
	width: 878px;
	height: 640px;
	padding: 30px;
}
.suxin_xiao{
	width: 817px;
	height: 191px;
	border-bottom: 1px solid #D3D3D3;
	margin-bottom: 20px;
}
.suxin_xiao img{
	width: 180px;
	height: 160px;
	float: left;
	padding-right: 20px;
}
.suxin_xiao a{
	float: left;
	font-size: 20px;
	color: #0A1212;
	margin-bottom: 20px;
}
.suxin_xiao a:hover{
	text-decoration: underline;
	color: skyblue; 
}
.suxin_xiao p{
	width: 637px;
	height: 48px;
	float: right;
	font-size: 16px;
	margin-bottom: 10px;
}
.suxin_xiao span{
	width: 637px;
	height: 24px;
	float: right;
}
.suxin_right{
	width: 263px;
	height: 356px;
	margin-left: 30px;
	float: right;
	margin-top: -610px;
}
.right_top{
	width: 223px;
	height: 26px;
	background: #fff;
	border-radius: 10px;
	margin: 0 auto;
}
.right_top input{
	margin-left: 10px;
	background: #fff;
	outline: none;
}
.right_top i{
	float: right;
	padding-right: 20px;
	padding-top: 5px;
}
.right_top i:hover{
	cursor: pointer;
}
.right_mid{
	width: 226px;
	height: 25px;
	margin-top: 10px;
	margin-left: 8px;
}
.right_mid span{	
	color: #fff;
}
.right_bottom{
	width: 223px;
	height: 45px;
	border: 1px solid #ddd;
	padding: 10px 15px;
	margin-bottom: 5px;
}
.right_bottom a{
	color: #1C2124;
}
.right_bottom a:hover{
	text-decoration: underline;
	color: skyblue; 
}
.right_bottom span{
	color: #ddd;
	font-size: 14px;
}
.right_mid a{
	color: #1C2124;
}
.right_mid a:hover{
	text-decoration: underline;
	color: skyblue; 
}
.jian{
	width: 100%;
	border-bottom:20px solid #fff;

}
.hou{
	width: 100%;
	height: 181px;
}
.hou_top{
	width: 100%;
	height: 57px;
	padding: 5px 0;
	margin: 10px 0;
	text-align: center;
}
.hou_top i{
	font-size: 25px;
	color: #fff;
	line-height: 57px;
	margin-left: 30px;
	color: #62A8EA;
}
.hou_top i:hover{
	cursor: pointer;
}
.tan{
	width: 160px;
	height: 208px;
	background-color: #ff6700;
	position: absolute;
	margin-top: -258px;
	left: 45%;
	transition: all 1s linear;
	display: none;
}
.icon-icon4:hover .tan{
	display: block; 
}
.tan img{
	width: 160px;
	height: 208px;
}
.hou_mid{
	width: 1140px;
	height: 25px;
	margin: 0 auto;
	text-align: center;
}
.hou_mid img{
	width: 20px;
	height: 20px;
	display: inline-block;
	text-align: center;
}
.hou_mid a{
	color: skyblue;
}
.hou_mid a:hover{
	text-decoration: underline;
}